@charset "UTF-8";

/* CSS Document */
/* spaziature */
.vspaced {
	padding-top: 60px;
	padding-bottom: 60px;
}

.hspaced {
	padding-left: 5%;
	padding-right: 5%;
}

.topspaced {
	padding-top: 60px;
}

.bottomspaced {
	padding-bottom: 60px;
}

/* colonne */
.flexcontainer {
	display: flex;
	flex-flow: row wrap;
}

.cols {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.two>* {
	width: 48%;
}

.three>* {
	width: 31%;
}

.three .main {
	width: 62%;
}

.four>* {
	width: 23%;
}


/* general styles for the forms*/
button,
input[type=submit] {
	display: block;
	width: 33%;
	margin: 0 auto;
	padding: 15px;
	border: 0;
	background: #95c11e;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}

button:hover,
input[type=submit]:hover {
	background-color: #333;
}

form {}

form h1 {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}

form>* {
	margin: 10px 0;
	font-size: 1em;
}

/* general styles */
form label,
form h4 {
	display: inline-block;
	font-size: 12px;
	margin: 0 0 5px 0;
	font-family: sans-serif;
	font-weight: normal;
}

form .field {
	background: #f0f0f0;
	color: #333;
	cursor: pointer;
	font-size: 1em;
	width: 100%;
	height: 3em;
	padding: 0 .7em;
}

form .field:hover {
	background: #ccc;
}

form section {
	margin-bottom: 40px;
}

/* simple text field */
form input[type=text] {
	display: flex;
	align-items: center;
	border: 0;
	margin-bottom: 10px;
}

form input:last-of-type {
	margin-bottom: 0;
}

form input[type=text]::placeholder {
	color: #bbb;
}

/* full width buttons */
form input[type=submit].full,
button.full {
	width: 100%;
	margin-top: 25px;
}

/* selections*/
form .selectionWrapper {
	position: relative;
	display: flex;
	width: 100%;
	height: 3em;
	line-height: 3;
	background: #fff;
	overflow: hidden;
	border-radius: .25em;
	font-family: sans-serif;
}

form .selectionWrapper:after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor: pointer;
	pointer-events: none;
	transition: .25s all ease;
	color: #fff;
}

form .selectionWrapper .selectionWrapper:hover::after {
	color: #95c11e;
}

/* select*/
form .selectionWrapper select {
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0;
	background-image: none;
	flex: 1;
}

form .selectionWrapper select::-ms-expand {
	display: none;
}

/* multiOption */
form .multiOption {
	display: none;
	padding: 15px;
	flex-flow: column wrap;
	border: 1px solid #ccc;
	width: 20em;
	box-shadow: 4px 5px 8px 1px rgba(204, 204, 204, 1);
	width: 350px;
	background: #fff;
}

/* temporary*/
form .multiOption>* {
	margin: 0 0 15px 0;
}

form .multiOption article {
	display: flex;
	justify-content: space-between;
}

form .multiOption article h2 {
	font-size: 1em;
	margin: 0;
	text-align: left;
}

/* temporary*/
/* form:hover .multiOption {
	display: block;
	position: absolute;
	z-index: 100;
} */

/* optionSelection */
.optionSelect article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f0f0f0;
	padding: 5%;
	margin-bottom: 10px;
}

.optionSelect article:last-of-type {
	margin-bottom: 0;
}

.optionSelect article.disabled {
	opacity: 0.5;
}

.optionSelect article.disabled .condition {
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

.optionSelect input[type=checkbox] {
	height: 0;
	width: 0;
	display: none;
	;
}

.optionSelect input[type=radio] {
	height: 0;
	width: 0;
	display: none;
	;
}

.optionSelect .wrapper {
	width: 85%;
}

.optionSelect .wrapper h3 {
	margin: 0 !important;
	font-size: 1em;
	color: #333 !important;
	text-align: left;
	font-style: normal;
}

.optionSelect .wrapper h4 {
	margin: 0;
	font-size: 14px;
	font-weight: normal;
}

.optionSelect .wrapper a {
	color: #000;
	text-decoration: underline;
}

.optionSelect label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
	margin: 0;
}

.optionSelect label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 16px;
	transition: 0.3s;
}

.optionSelect input:checked+label {
	background: #95c11e;
}

.optionSelect input:checked+label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.optionSelect label:active:after {
	width: 30px;
}

/* calendar placeholder */
form .calendar {
	background-color: #f0f0f0;
	height: 200px;
	text-align: center;
	padding: 15px;
	color: #ccc;
}


/* general styles for ecommerce */
.booking * {
	box-sizing: border-box;
}

.booking>h2 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.booking>h4 {
	text-align: center;
	margin: 10px 0 40px 0;
	color: #666;
	font-weight: normal;
	font-style: italic;
}

.booking>h3 {
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0 30px 0;
	color: #666;
}

.booking .cols h3 {
	color: #aaa;
	font-size: 18px;
	text-align: left;
	margin-bottom: 20px;
}

.booking .unavailable {
	color: #ccc;
}

.booking .back {
	text-align: center;
	margin-top: 30px;
	color: #999;
}

.booking .back a {
	display: inline block;
	margin: 0 15px;
	color: #999;
}

.booking span.details {
	font-size: 0.7em;
	color: #666;
	font-style: italic;
	font-weight: normal;
}

.booking .quantity .qtnumber {
	display: inline-block;
	margin: 0 10px;
}

.booking .quantity .add {
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #333;
	cursor: pointer;
}

.booking .quantity .add:hover {
	background-color: #f0f0f0;
}

/*Home BookWindow*/
main .cover {
	background: url(../img/bg_big.jpg) no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.bookWindow {
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	width: 350px;
	margin-left: 5%;
}

.bookWindow p,
.booking p {
	font-size: 12px;
	margin: 15px 0 0 0;
	line-height: normal;
}

.bookWindow .bike {
	padding: 15px;
	border: 1px solid #ccc;
	margin: 20px 0;
}

.bookWindow .bike>h3 {
	text-align: left;
	margin-bottom: 5px;
	font-size: 14px;
	color: #000;
}

/* cart*/
.booking.cart p.when {
	line-height: 2em;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
	font-size: 1em;
}

.booking.cart table {
	width: 100%;
}

.booking.cart table td {
	padding: 1% 0;
}

.booking.cart table td.img {
	text-align: left;
}

.booking.cart table td.img img {
	width: 120px;
}

.booking.cart table td.product {}

.booking.cart table td.size {}

.booking.cart table td.quantity {}

.booking.cart table td.price {
	text-align: right;
}

.booking.cart table td.total {
	text-align: right;
	font-size: 1.1em;
	font-weight: bold;
	padding-top: 5px;
	border-top: 1px solid #ccc;
}


/****************************/
/*    STILI PER I TABLET    */
/****************************/

@media only screen and (max-width: 769px) {
	main .cols {
		flex-flow: row wrap;
	}

	main .cols>*,
	.three>* {
		width: 100%;
	}

	/* stili per l'ecommerce */
	main .cover {
		justify-content: center;
	}

	button,
	input[type=submit] {
		width: 100%;
	}

	.booking.cart table {
		margin-bottom: 30px;
	}

	.booking.cart table td.img {
		display: none;
	}
}


/******************************/
/*    STILI PER SMARTPHONE    */
/******************************/

@media only screen and (max-width: 500px) {

	/* stili per l'ecommerce */
	.bookWindow {
		width: 85%;
		margin: 0;
	}

	form .field,
	form .selectionWrapper {
		width: 100%;
	}

	.booking.cart table td {
		display: block;
	}
}


#preloader{
	background: rgba(255,255,255,0.5) url(../img/loader7.gif) no-repeat center center;
	backdrop-filter: blur(2px);
	background-size: 5%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}
